.playerWidget {
  display: flex;
  // height: 100%;
  width: 100%;
}

.playerContainer {
  position: relative;
  width: 70%;
  padding: 20px;

  min-height: calc(100vh - 155px);
}

.sideTab {
  width: 40%;
  padding: 1rem;
  min-height: calc(100vh - 155px);
}

.footer {
  padding: 1rem;
  border-top: 1px solid #e1e5e9;
}
