.main_header {
  height: 155px;
  padding: 20px;
}

.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
}

.header_top_menu {
  ul {
    display: flex;
    gap: 35px;

    li {
      display: flex;
      align-items: center;
      gap: 5px;

      transition: all 0.1s linear;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.header_bottom {
  background-color: #0456b0;
  padding: 20px;
}

.header_bottom_menu {
  ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;

    li {
      transition: all 0.1s linear;

      button {
        color: #fff !important;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
